{% include 'janken/base.html' %}
{% block content %}
<div class="jumbotron jumbotron-extend" style="background-image: url(/static/janken/haikei.png); background-size: cover;">
  <div class="container-fluid jumbotron-container">
    <div>
      <input type="text" name="name" id="user_name" placeholder="YourName">
      <button onclick="update()" class="btn btn-info btn-sm">登録</button>
    </div>
    {% if enemy %}
    <p>相手は{{enemy}}を出したよ</p>
    {% endif %}
    <div class="container">
      <div class="row">
        <div class="col-sm-4"><input type="image" onclick="g()" src="https://2.bp.blogspot.com/-VhlO-Yfjy_E/Uab3z3RNJQI/AAAAAAAAUVg/fX8VnSVDlWs/s800/janken_gu.png" width="240" height="240"></div>
        <div class="col-sm-4"><input type="image" onclick="c()" src="https://4.bp.blogspot.com/-__yEIXe5SxU/Uab3zO7BB2I/AAAAAAAAUVI/MYg6TVeiv-Y/s800/janken_choki.png" width="240" height="240"></div>
        <div class="col-sm-4"><input type="image" onclick="p()" src="https://3.bp.blogspot.com/-qZtyoue9xKs/Uab30IG0Q5I/AAAAAAAAUVk/qnH8a2OgrvI/s800/janken_pa.png" width="240" height="240"></div>
      </div>
    </div>
    <form action="{% url 'janken2' %}" method="POST" name="form">
      {% csrf_token %}
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <input type="text" name="g" value="None" readonly>
            <label id="g"></label>
          </div>
          <div class="col-sm-4">
            <input type="text" name="c" value="None" readonly>
            <label id="c"></label>
          </div>
          <div class="col-sm-4">
            <input type="text" name="p" value="None" readonly>
            <label id="p"></label>
          </div>
        </div>
      </div>
      <br>
      <div class="container">
        <div class="row">
          <div>
            <input type="text" name="userName" value="None" readonly>
          </div>
          <div>
            <input type="text" name="win" value="0" readonly>
          </div>
          <div>
            <button type="submit" class="primary">じゃんけん！</button>
          </div>
        </div>
      </div>
    </form>
    <br>
    <a href="{% url 'ranking' %}">ランキング</a>
    <button class="btn btn-primary"
      data-toggle="collapse"
      data-target="#example-1"
      aria-expand="false"
      aria-controls="example-1">遊び方
    </button>
    <div class="collapse" id="example-1">
      <div class="card card-body">
        <img src="static/janken/haikei.png" width="115" height="115">
      </div>
    </div>
  </div>
</div>
    <script>
      function g(){
        document.form.g.value="グー";
        document.form.c.value="None";
        document.form.p.value="None";
        var content=document.getElementById("g");
        var content2=document.getElementById("c");
        var content3=document.getElementById("p");
        content.textContent="←を選択しました！";
        content2.textContent="";-
        content3.textContent="";
      }

      function c(){
        document.form.g.value="None";
        document.form.c.value="チョキ";
        document.form.p.value="None";
        var content=document.getElementById("g");
        var content2=document.getElementById("c");
        var content3=document.getElementById("p");
        content.textContent="";
        content2.textContent="←を選択しました！";
        content3.textContent="";
      }

      function p(){
        document.form.g.value="None";
        document.form.c.value="None";
        document.form.p.value="パー";
        var content=document.getElementById("g");
        var content2=document.getElementById("c");
        var content3=document.getElementById("p");
        content.textContent="";
        content2.textContent="";
        content3.textContent="←を選択しました！";
      }

      function update(){
        var element=document.getElementById("user_name").value;
        document.form.userName.value=element;
      }
    </script>
{% endblock %}
































