{% include 'janken/base.html' %}
{% block content %}
    <div style="background-color: rgba(255, 255, 255, 0.95);padding: 30px;padding-top: 50px;padding-bottom: 50px;border-radius: 10px;">
      {% if userName %}
        <h1>{{userName}}さんの負けです！</h1>
      {% else %}
        <h1>あなたの負けです!</h1>
      {% endif %}
      <P>相手は{{enemy}}を出しました</P>
      <p>{{win}}連勝しました！</p>
      {% if userName %}
      <h2>結果</h2>
        <form action="{% url 'result2' %}" method="POST">
          {% csrf_token %}
          <div>
            <input type="text" value="{{userName}}" name="name">
          </div>
          <div>
            <input type="text" value="{{win}}" name="result">
          </div>
        </form>
      {% endif %}
      <a href="{% url 'janken' %}" class="btn btn-primary">もう一回！</a>
    </div>
  </div>
</div>
{% endblock %}